USE [master]
GO
/****** Object:  Database [QuanLyDeAn]    Script Date: 3/22/2023 9:18:58 AM ******/
CREATE DATABASE [QuanLyDeAn]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyDeAn_Data', FILENAME = N'D:\Phạm Phú Đạt\QuanLyDeAn_Data.mdf\QuanLyDeAn_Data.mdf' , SIZE = 20480KB , MAXSIZE = 1024000KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyDeAn_Log', FILENAME = N'D:\Phạm Phú Đạt\QuanLyDeAn_Log.ldf\QuanLyDeAn_Log.ldf' , SIZE = 6144KB , MAXSIZE = 20480KB , FILEGROWTH = 5%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyDeAn].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyDeAn]
GO
/****** Object:  Table [dbo].[DEAN]    Script Date: 3/22/2023 9:18:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEAN](
	[MaDA] [varchar](2) NOT NULL,
	[TenDA] [nvarchar](50) NULL,
	[DDiemDA] [nvarchar](20) NULL,
 CONSTRAINT [PK_DEAN] PRIMARY KEY CLUSTERED 
(
	[MaDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 3/22/2023 9:18:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [varchar](9) NOT NULL,
	[HoNV] [nvarchar](15) NULL,
	[TenLot] [nvarchar](30) NULL,
	[TenNV] [nvarchar](30) NULL,
	[NgSinh] [smalldatetime] NULL,
	[DiaChi] [nvarchar](150) NULL,
	[Phai] [nvarchar](3) NULL,
	[Luong] [numeric](18, 0) NULL,
	[Phong] [varchar](2) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANCONG]    Script Date: 3/22/2023 9:18:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANCONG](
	[MaNV] [varchar](9) NOT NULL,
	[MaDA] [varchar](2) NOT NULL,
	[ThoiGian] [numeric](18, 0) NULL,
 CONSTRAINT [PK_PHANCONG] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC,
	[MaDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 3/22/2023 9:18:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MaPhg] [varchar](2) NOT NULL,
	[TenPhg] [nvarchar](30) NULL,
 CONSTRAINT [PK_PHONGBAN] PRIMARY KEY CLUSTERED 
(
	[MaPhg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANNHAN]    Script Date: 3/22/2023 9:18:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANNHAN](
	[MaNV] [varchar](9) NOT NULL,
	[TenTN] [nvarchar](20) NOT NULL,
	[NgaySinh] [smalldatetime] NULL,
	[Phai] [nvarchar](3) NULL,
	[QuanHe] [nvarchar](15) NULL,
 CONSTRAINT [PK_THANNHAN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC,
	[TenTN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DEAN] ([MaDA], [TenDA], [DDiemDA]) VALUES (N'1', N'Nâng cao chất lượng muối', N'Sa Huỳnh')
INSERT [dbo].[DEAN] ([MaDA], [TenDA], [DDiemDA]) VALUES (N'10', N'Xây dựng nhà máy chế biến thủy sản', N'Dung Quất')
INSERT [dbo].[DEAN] ([MaDA], [TenDA], [DDiemDA]) VALUES (N'2', N'Phát triển hạ tầng mạng', N'Tp Quảng Ngãi')
GO
INSERT [dbo].[NHANVIEN] ([MaNV], [HoNV], [TenLot], [TenNV], [NgSinh], [DiaChi], [Phai], [Luong], [Phong]) VALUES (N'123', N'Đinh', N'Bá', N'Tiến', CAST(N'1982-02-27T00:00:00' AS SmallDateTime), N'Mộ Đức', N'Nam', NULL, N'4')
INSERT [dbo].[NHANVIEN] ([MaNV], [HoNV], [TenLot], [TenNV], [NgSinh], [DiaChi], [Phai], [Luong], [Phong]) VALUES (N'234', N'Nguyễn ', N'Thanh', N'Tùng', CAST(N'1956-08-12T00:00:00' AS SmallDateTime), N'Sơn Tịnh', N'Nam', NULL, N'5')
INSERT [dbo].[NHANVIEN] ([MaNV], [HoNV], [TenLot], [TenNV], [NgSinh], [DiaChi], [Phai], [Luong], [Phong]) VALUES (N'345', N'Bùi', N'Thúy', N'Vũ', NULL, N'Tư Nghĩa', N'Nữ', NULL, N'4')
GO
INSERT [dbo].[PHANCONG] ([MaNV], [MaDA], [ThoiGian]) VALUES (N'123', N'1', CAST(33 AS Numeric(18, 0)))
INSERT [dbo].[PHANCONG] ([MaNV], [MaDA], [ThoiGian]) VALUES (N'123', N'2', CAST(8 AS Numeric(18, 0)))
INSERT [dbo].[PHANCONG] ([MaNV], [MaDA], [ThoiGian]) VALUES (N'345', N'10', CAST(10 AS Numeric(18, 0)))
GO
INSERT [dbo].[PHONGBAN] ([MaPhg], [TenPhg]) VALUES (N'1', N'Quản lý')
INSERT [dbo].[PHONGBAN] ([MaPhg], [TenPhg]) VALUES (N'4', N'Điều hành')
INSERT [dbo].[PHONGBAN] ([MaPhg], [TenPhg]) VALUES (N'5', N'Nghiên cứu')
GO
INSERT [dbo].[THANNHAN] ([MaNV], [TenTN], [NgaySinh], [Phai], [QuanHe]) VALUES (N'123', N'Châu', CAST(N'2005-10-30T00:00:00' AS SmallDateTime), N'Nữ', N'Con gái')
INSERT [dbo].[THANNHAN] ([MaNV], [TenTN], [NgaySinh], [Phai], [QuanHe]) VALUES (N'123', N'Duy', CAST(N'2001-10-25T00:00:00' AS SmallDateTime), N'Nam', N'Con trai')
INSERT [dbo].[THANNHAN] ([MaNV], [TenTN], [NgaySinh], [Phai], [QuanHe]) VALUES (N'123', N'Phương', CAST(N'1985-10-30T00:00:00' AS SmallDateTime), N'Nữ', N'Vợ chồng')
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_PHONGBAN] FOREIGN KEY([Phong])
REFERENCES [dbo].[PHONGBAN] ([MaPhg])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_PHONGBAN]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_DEAN] FOREIGN KEY([MaDA])
REFERENCES [dbo].[DEAN] ([MaDA])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PHANCONG_DEAN]
GO
ALTER TABLE [dbo].[PHANCONG]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONG_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHANCONG] CHECK CONSTRAINT [FK_PHANCONG_NHANVIEN]
GO
ALTER TABLE [dbo].[THANNHAN]  WITH CHECK ADD  CONSTRAINT [FK_THANNHAN_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[THANNHAN] CHECK CONSTRAINT [FK_THANNHAN_NHANVIEN]
GO
USE [master]
GO
